html {
  width: 100%;
  background-color: grey;
}
body {
  width: 960px;
  margin: 0 auto;
  background-color: white;
}
.tab-group {
  width: 100%;
}
.tab-group .tab {
  display: inline-block;
  width: 33%;
}
.tab-group .tab header {
  background-color: blue;
  display: inline-block;
}
.tab-group .tab header.active {
  /*
          Do a calculation with a mixin that is based on
          class of 1ofX that does a multiply of the X
          */
}
.tab-group .tab header.active + article {
  display: block;
  position: relative;
  top: 25px;
}
.tab-group .tab article {
  display: none;
  min-height: 500px;
  background-color: red;
  margin-top: -22px;
}
